#menu-div{
  background-color: orange;
  height: 400px;
  width:200px;
  margin-left: 20px;
  overflow:scroll;/*complete llist comes under div->*/
  float: left;
}
#contents{
  float: left;
  width: 1280px;
  height: 700px;
  /* background-color: brown; */
  border: 1px solid black;
}


ol{
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
/* //  margin-left: 0px;//does't effect */
padding-left: 0px;

}

/* type selector */
li{
  background-color: deeppink;
  cursor: pointer;
  border: 1px solid black;

}

li:hover{
  background-color: black;
  color: deeppink;
}

a{
  text-decoration: none;
  color: inherit;
}

li::before{
  content: "✡";
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  padding: 3px;
}
