/* Universal selector */
*{
  margin: 0;
  padding: 0;
}

#outer_div{
  width: 900px;
  height: 2000px;
  background-color:#ff75a0;
  margin: auto;
}
#title_div{
  width: inherit;
  height: 60px;
  background-color: #1e212d;
}
#logo{
  height: 40px;
  width: 40px;
  background-image: url(../pics/targate2.png);
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  float: left;
  border: 1px deeppink solid;
  border-radius: 50px;
  transition: ease all 1s;
  background-repeat: no-repeat;
  background-position: center;

}
#logo:hover{
  transform: rotate(360deg);
  transition: ease all 1s;
}
#logo2{
  height: 40px;
  width: 40px;
  background-image: url(../pics/dhanush.png);
  margin-right: 20px;
  margin-top: 5px;
  background-size: contain;

  border: 1px red solid;
  float: right;
  border-radius: 50px;
  transition: ease all 1s;


}
#logo2:hover{
  transform: scale(1.2);
  transition: ease all 1s;
}
#site-name{
  color: orange;
  width: 100px;
  height: 40px;
  float: left;
  font-size: 50px;
  margin-left: 200px;
}
#menu{
  width: inherit;
  height: 50px;
  background-color: orange;
}
/* paraent selector */
#menu ol{
  list-style: none;
  float: left;
  margin-top: 8px;
}
#menu ol li{
  float: left;
  border: 1px black solid;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  padding-top: 5px;
padding-bottom: 5px;
background-color: white;
border-radius: 10px;
transition: ease all .5s;
}
#menu ol li:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 20px 0 20px 0;
  transition: ease all .5s;
  padding: 5px;

}

#title-pic{
  width: inherit;
  height: 500px;
  background-image: url(../pics/target5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: ease all .5s;
}
#title-pic:hover{
  transform: scale(1.025);
  cursor: pointer;
  transition: ease all .5s;

}
#bottom_target{
  background-image: url(../pics/small_target.png);
  width: inherit;
  height: 30px;
  background-size: contain;
  /* background-repeat-y:no repeat;
  background-position: bottom left; */
}
#parent{
  width: inherit;
  height: 500px;
  background-color: black;
}
#child-left{
  width: 200px;
  height: 500px;
  background-color: #af0069;
  float: left;

}
#child-center{
  width: 500px;
  height: 500px;
  background-color: #64dfdf;
  float: left;


}
#child-right{
  width: 200px;
  height: 500px;
  background-color: #6930c3;
  float: left;



}
.media{
  width: 150px;
  height: 150px;
  background-image: url(../pics/targate2.png);
  background-size:contain;
  background-repeat: no-repeat;
  padding-right: 10px;
  margin: 10px 0px 0px 20px;
  background-size: 115%;
  background-position: center;
  border: 1px black solid;
  border-radius: 100px;
  transition: ease all .5s;

}
.media:hover{
  transform: scale(1.1) rotate(360deg);
  transition: ease all .5s;
  box-shadow: 0px 0px 10px 5px black;
}
.text-image{
  width: 500px;
  margin-left:  200px;
  font-size: 40px;
  background-color: #290149;
  opacity: .5;
  color: white;

}
#child-right{
  background-size: contain;
  overflow: hidden;
  background-color: black;
  color: orange;
}
